.main-menu {
  min-height: 70px;
  background-color: #3c342f;
}

.thumbnail-50 {
  width: 50px;
  height: 50px;
}

.remove-bg {
  mix-blend-mode: multiply !important;
}

.w-90 {
  width: 90% !important;
}

.hand-cursor {
  cursor: pointer !important;
}

.min-200 {
  min-height: 200px !important;
}

.min-300 {
  min-height: 300px !important;
}

.min-400 {
  min-height: 400px !important;
}

.min-500 {
  min-height: 500px !important;
}

.max-350 {
  max-height: 350px !important;
  overflow-y: auto !important;
}

.max-400 {
  max-height: 400px !important;
  overflow-y: auto !important;
}

.max-500 {
  max-height: 500px !important;
  overflow-y: auto !important;
}

.timeline {
  /* margin: 50px 0; */
  list-style-type: none;
  display: flex;
  padding: 0;
  text-align: center;
}
.timeline li {
  transition: all 200ms ease-in;
}
.timestamp {
  width: 100%;
  margin-bottom: 20px;
  padding: 0px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 100;
}
.status {
  padding: 0px 40px;
  display: flex;
  justify-content: center;
  border-top: 4px solid #f3f3f3;
  position: relative;
  transition: all 200ms ease-in;
}

.status span {
  font-weight: 600;
  padding-top: 20px;
}

.status span:before {
  content: "";
  width: 25px;
  height: 25px;
  background-color: #fff;
  border-radius: 25px;
  border: 4px solid #f3f3f3;
  position: absolute;
  top: -15px;
  left: calc(50% - 12px);
  transition: all 200ms ease-in;
}

.status.completed span:before {
  content: "";
  width: 25px;
  height: 25px;
  background-color: #588157;
  border-radius: 25px;
  border: 4px solid #588157;
  position: absolute;
  top: -15px;
  left: calc(50% - 12px);
  transition: all 200ms ease-in;
}

.status.active span:before {
  content: "";
  width: 25px;
  height: 25px;
  background-color: #5465ff;
  border-radius: 25px;
  border: 4px solid #5465ff;
  position: absolute;
  top: -15px;
  left: calc(50% - 12px);
  transition: all 200ms ease-in;
}
